.mainContainer {
  
  height: 100vh;
  background-color: rgb(208, 246, 151);
  padding: 0px;
  margin: 0px;
}
h3{
  text-align: center;
}
ul{
  display: flex;
  justify-content: space-around;
}
li{
 
  width: 200px;
  list-style: none;
  font-size: 25px;
  height: 45px;
  border-radius: 30px;
  transition: .1s;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding-top: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
li:hover
{
  height: 48px;
  width: 220px;
}
.musicName{

  text-align: center;
  padding-top: 1px;
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.PlayContainer
{
  background-color: rgb(18, 234, 18);
  border-radius: 50px;

  margin-top: 100px;
}




.line-container {
  position: relative;
   /* Adjust width as needed */
 /* Adjust height as needed */
  border: 1px solid #ccc; /* Border for visualization */
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px; /* Width of the line */
  height: 100%; /* Full height of the container */
  background-color: black; /* Color of the line */
  animation: moveLine 30s linear ; /* Animation */
}

@keyframes moveLine {
  0% {
    left: 0; /* Start from left edge of container */
  }
  100% {
    left: calc(100% - 2px); /* Move to the right edge of container */
  }
}